
    body {
      font-family: "futura","Helvetica", "sans serif";
      background-color: #FFFEDA ;
      color: #3380FF ;
    }
    header {
      margin: 30px;
      border: 10px  solid pink;
    }
    h1, h2, h3 {
      color: #33FFBC ;
      line-height: 2 ;
      letter-spacing: 2px ;
    }
    h1 {
      font-size: 50px ;
      text-align: center ;
    }
    h2 {
      font-size: 30px;
      text-align: center ;
    }
    h3 {
      font-size: 20px;
      text-align: center ;
    }
    figcaption {
      color: #CF6DFF ;
      font-weight: 200;
    }
    ul {
      list-style-type: circle;
    }
    li {
      padding: 5px ;
      font-style: italic ;
      color: #CF6DFF ;
    }
    strong {
      font-weight: 600;
      font-size: 1.19em;
    }
    img {
      width: 600px;
      border: 5px solid pink;

    }
    .centerflex{
      display: flex;
      justify-content: center;
    }
    .long {
      letter-spacing: 4px;
      font-weight: bold;
    }

    .row-table{
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0;
      padding: 0;
    }

    .row-table-cell{
      box-sizing: border-box;
        flex-grow: 1;
        width: 100%;
        padding: 0.8em 1.2em;
        overflow: hidden;
        list-style: none;
        background: pink;
        border: 2px solid #FFFEDA;
    }
    .row-table .row-table-cell  {
      width: 33.33%;
    }
